fastapi==0.115.12
uvicorn[standard]==0.34.2
SQLAlchemy==2.0.40
PyMySQL==1.1.1
python-dotenv==1.1.0
pydantic==2.11.4
pydantic-settings==2.9.1
cachetools==5.5.2
cryptography==44.0.2
tzdata
psycopg[binary]>=3.2,<4
